<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4 th:if="${services.size()>0}" th:text="'services: ' + ${services.size()}"> </h4>
<div class=" col-6">
    <h3 th:unless="${services} and ${services.size()}">There are no services!</h3>
    <table th:if="${services.size()>0}" class="table table-hover">
<!--        <th>Registration number</th>-->
        <th>Auto repair shop</th>
        <th>Registration number</th>
        <th>Motor vehicle label</th>
        <th>Motor vehicle model</th>
        <th>Service</th>
        <th>Price</th>
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
        <tr th:each="service : ${services}">

            <td th:text="${service.autoRepairShopName}"></td>
            <td th:text="${service.motorVehicleRegNum}"></td>
            <td th:text="${service.motorVehicleLabel}"></td>
            <td th:text="${service.motorVehicleModel}"></td>
            <td th:text="${service.autoRepairShopTypesOfService}"></td>
            <td th:text="${service.price}"></td>
<!--            <td><a class="btn btn-info" th:href="@{'/services/edit-service/'+${service.id}}">Edit</a></td>-->
<!--            <td><a class="btn btn-danger" th:href="@{'/services/delete/'+${service.id}}">Delete</a></td>-->
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>